<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {% assign readme = site.pages | where: "name", "README.md" | first %}
    <div class="content-page">
        <h1><a href="{{ '/' | relative_url }}">{{ readme.title }}</a></h1>
        <h2>{{ page.title }}</h2>

        <div class="scrollable-content">
            {{ content }}
        </div>

        {% include navigation.html %}
    </div>
    <script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
</body>

</html>